<a href="https://colab.research.google.com/github/maheshvmv/python/blob/master/class_file_prct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
l1 = [1,2,3]
l2 = [4,5,6]
res=map(lambda x, y : x + y, l1,l2)
print(list(res))

[5, 7, 9]

In [0]:
del list

In [145]:
lst = [1,2,3,4,5]
reduce(lambda x,y :x+y, lst)

15

In [0]:
class person:
  pass

In [8]:
per = person()
per.name = 'Mahesh'
per.surname = 'Vegiraju'
per.year = 1989

print(per)
print((per.name,per.surname,per.year))

<__main__.person object at 0x7f5911b2c278>
('Mahesh', 'Vegiraju', 1989)

In [10]:
class person:
  def __init__(self,name,surname,year):
    self.name = name
    self.surname = surname
    self.year = year

alec = person("alec","John",1988)
print(alec)

<__main__.person object at 0x7f5911adc160>

In [12]:
alec = person("alec","John",1988)
print(alec.surname)

John

In [0]:
class person:
  def __init__(self,name,surname,year):
    self.name = name
    self.surname = surname
    self.year = year
  
  def age(a,year):
    return year - a.year

  def __str__(a):
    return "%s %s born in the year %d" % (a.name,a.surname,a.year)

In [26]:
alec = person("alec","John",1987)
print(alec)

alec John born in the year 1987

In [27]:
print(alec.age(2019))

32

**Inheritance :**

In [0]:
class student(person):
  def __init__(self,stid,*args):
    super(student,self).__init__(*args)
    self._stid = stid

charles = student(1,'charlie','brown',1989)

In [30]:
print(charles.name)

charlie

In [33]:
print(type(charles))
print(isinstance(charles,person))
print(isinstance(charles,object))

<class '__main__.student'>
True
True

**Override methods :**

In [35]:
class student(person):
  def __init__(self,stid,*args, **kwargs):
    super(student,self).__init__(*args, **kwargs)
    self._stid = stid

  def __str__(self):
    return super(student,self).__str__()+" And has ID: %d" %self._stid

ch = student(1,'charlie','brown',1989)
print(ch)

charlie brown born in the year 1989 And has ID: 1

**Encapsulation**